<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Login Admin</title>

<style>
body {
    font-family: Arial;
    background: #f4f4f4;
    text-align: center;
    padding: 50px;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    max-width: 300px;
    margin: auto;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    width: 100%;
}
</style>

</head>

<body>

<div class="container">
    <h2>Acceso Admin</h2>

    <input type="text" id="usuario" placeholder="Usuario">
    <input type="password" id="password" placeholder="Contraseña">

    <button onclick="login()">Entrar</button>

    <p id="error" style="color:red;"></p>
</div>

<script>
function login() {
    let user = document.getElementById("usuario").value;
    let pass = document.getElementById("password").value;

    fetch("/login", {
    method: "POST",
    headers: {
        "Content-Type": "application/json"
    },
    body: JSON.stringify({
        usuario: user,
        password: pass
    })
})
    .then(res => res.json())
    .then(data => {

        if (data.ok) {
            window.location.href = "/admin?token=" + data.token;
        } else {
            document.getElementById("error").innerText = "Credenciales incorrectas";
        }

    });
}
</script>

</body>
</html>